qiskit==1.4.1
qiskit-aer==0.16.3
qiskit-ibm-runtime==0.36.1
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
python-dotenv>=1.0.0
pylatexenc
qbraid==0.9.3
ibm-cloud-sdk-core==3.22.1
ibm-platform-services==0.59.1
pydantic-settings
requests==2.32.3
dotenv
statsmodels
